<h2>Past Events</h2>
<% @prev_events.each do |event| %>
  <%= link_to event.location, event_path(event) %><br>
<% end %>
<h2>Future Events</h2>
<% @upcoming_events.each do |event| %>
  <%= link_to event.location, event_path(event) %><br>
<% end %>