<h1>Event: <%= @event.location %></h1>
<h2>Creator: </h1>
<%= User.find(@event.creator_id).name %>
<h2>Attendees:</h2>
<% @event.attendees.each do |attendee| %>

  <%= attendee.name %><br>

<% end %>

<%= link_to "I want to attend", event_path(@event, :user => session[:id]), method: :post %>

